@page "/Province"
@if (Isvisible)
{
    <div class="card"  id="examplecard">
        <div class="card-header bg-success text-white"> 
             <h5 class="card-header" id="examplecard">@(addprovince.Provinceid==0?"Add New province":"Edit Province")</h5>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Select Forest Country</label>
                        <select class="form-control" style="width: 100%;" @bind="@addprovince.CountryId">
                            <option value="0">Select Forest Country</option>
                            @foreach (var country1 in CountryList)
                            {
                                <option value="@country1.Value">@country1.Text</option>
                            }

                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Enter Province Name</label>
                        <input type="text" class="form-control" @bind="@addprovince.Provincename">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="button" class="btn btn-primary" value="Save" @onclick="@CreateProvince" />
            <input type="button" class="btn btn-primary" @onclick="@Cancel" data-dismiss="modal" value="Cancel" />
        </div>
    </div>
}
@if (!Isvisible)
{
    <div class=" float-right">
        <button class="btn btn-success btn-md" type="button" @onclick="ShowForm">ADD PROVINCE</button>
    </div>
}

<h2 class="mt-2"> CURRENT PROVINCES </h2>
@if (provinceobj is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Country</th>
                <th>Province</th>
            </tr>
        </thead>
          <tbody>
            @foreach (var prov in provinceobj)
            {
                <tr>
                    <td>@prov.Countryname</td>
                    <td>@prov.Provincename</td>
                    <td>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="examplecard" data-target="#examplecard" @onclick="()=>UpdateProvince(prov.Provinceid)"> <i class="fa fa-edit"></i> </button>
                     <button type="button" class="btn btn-danger btn-sm" @onclick="()=>DeleteProvince(prov.Provinceid)"> <i class="fa fa-trash"></i> </button>
                </td>
                </tr>
            }

        </tbody>

    </table>
}

