@page "/Employees"
@using HR_SYSTEM.Models
@using HR_SYSTEM.Services
@inject EmployeeService employeeService
@using System.Collections.Generic;




<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">
    Add Employee
</button>


<h1> Current Employees </h1>
@if (Empob is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th> Name</th>
                <th>CNIC</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Department</th>
                <th>Role</th>
                <th>Company</th>
                <th>Mobile Number Count</th>
                <th>Action</th>

            </tr>

        </thead>
        <tbody>
            @foreach (var emp in Empob)
            {
                <tr>
                    <td>@emp.Name</td>
                    <td>@emp.Cnic</td>
                    <td>@emp.Gender</td>
                    <td>@emp.Address</td>
                    <td>@emp.Department?.DepName</td>
                    <td>@emp.Role?.RoleType</td>
                    <td>@emp.Department.Company.Name</td>
                    <td><HR_SYSTEM.Components.TooltipComponent Text="@emp.MobileNumber">@emp.MobileNos?.Count()</HR_SYSTEM.Components.TooltipComponent></td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" @onclick="()=>UpdateEmployee(emp.EmpId)">  Edit </button>
                        <button type="button" class="btn btn-danger" @onclick="()=>DeleteEmployee(emp.EmpId)">  Delete </button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@(obj.EmpId==0?"Add New Employee":"Edit Employee")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="obj" OnValidSubmit="@CreateEmployee">
                    <DataAnnotationsValidator />
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="Name" class="control-label">Name*</label>
                                <input form="Name" class="form-control" @bind="@obj.Name" />
                                <ValidationMessage For="@(() => obj.Name)" />
                            </div>
                            <div class="form-group">
                                <label for="Cnic" class="control-label">Cnic</label>
                                <input form="Cnic" class="form-control" @bind="@obj.Cnic" />
                                <ValidationMessage For="@(() => obj.Cnic)" />
                            </div>
                            <div class="form-group">
                                <label for="Gender" class="control-label">Gender</label>
                                <select @bind="@obj.Gender" class="form-control">
                                    <option value="">-Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="Address" class="control-label">Address</label>
                                <input form="Address" class="form-control" @bind="@obj.Address" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Company</label>

                                <InputSelect class="form-control" ValueExpression="@(() => obj.CompanyRegNo)" Value="@obj.CompanyRegNo" ValueChanged="@((int value) => GetDepartmentCompanywise(value))">
                                    <option value="0">-- Select Company --</option>
                                    @foreach (var comp1 in CompanyList)
                                    {
                                        <option value="@comp1.Value">@comp1.Text</option>
                                    }
                                </InputSelect>

                            </div>


                            <div class="form-group">
                                <label class="control-label">Department</label>

                                <InputSelect @bind-Value="@obj.DepId" class="form-control">
                                    <option value="0">-- Select Department --</option>
                                    @foreach (var dep1 in DepartmentList)
                                    {
                                        <option value="@dep1.Value">@dep1.Text</option>
                                    }
                                </InputSelect>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Role</label>

                                <InputSelect @bind-Value="@obj.RoleId" class="form-control">
                                    <option value="0">-- Select Role --</option>
                                    @foreach (var rol1 in RoleList)
                                    {
                                        <option value="@rol1.Value">@rol1.Text</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Save" />

                                <input type="button" class="btn btn-primary float-md-right" @onclick="@Cancel" data-dismiss="modal" value="Cancel" />
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>




