@page "/Roles"
@using HR_SYSTEM.Services
@using System.Collections.Generic;
<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">
    Add Role
</button>
<h1>  Roles </h1>
@if (Roleob is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Role Id</th> 
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Roleob as List<HR_SYSTEM.Models.Role>)
            {
                <tr>
                    <td>@role.RoleId</td>
                    <td>@role.RoleType</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" @onclick="()=>UpdateRole(role.RoleId)"> <i class="fa fa-edit"></i> </button>
                        <button type="button" class="btn btn-danger btn-sm" @onclick="()=>DeleteRole(role.RoleId)">  <i class="fa fa-trash"></i> </button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@(addrole.RoleId==0?"Add New Role":"Edit Role")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">Role</label>
                                <input form="Name" class="form-control" @bind="@addrole.RoleType" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="button" class="btn btn-primary" @onclick="@CreateRole" value="Save" />

                                <input type="button" class="btn btn-primary float-md-right" @onclick="@Cancel" data-dismiss="modal" value="Cancel" />
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
